@import "tailwindcss";

:root {
  font-family: "Knewave", system-ui;
  background-color: oklch(20.5% 0 0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}